<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

	<!-- Define the source JMS queue -->

	<bean id="MessageSource" class="Appenda_Endpoint_ActiveMQ_Listener">
		<property name="broker" value="${bundle.account.activemq.broker}" />
		<property name="subscription" value="${bundle.account.activemq.subscription}" />
		<property name="delegate" ref="MessageMapper" />
	</bean>

	<!-- Define the endpoint mapping -->

	<bean id="MessageMapper" class="Appenda_Endpoint_Filtering">
		<property name="delegates">
			<props>
				<!-- Account mappings -->
				<prop key="{${bundle.account.namespace}}FindAccount">FindAccount</prop>
				<prop key="{${bundle.account.namespace}}FindAccountByName">FindAccountByName</prop>
				<prop key="{${bundle.account.namespace}}FindAccountByType">FindAccountByType</prop>
				<prop key="{${bundle.account.namespace}}InsertAccount">InsertAccount</prop>
				<prop key="{${bundle.account.namespace}}InsertAccountContact">InsertAccountContact</prop>
				<prop key="{${bundle.account.namespace}}RemoveAccount">RemoveAccount</prop>
			</props>
		</property>
	</bean>

	<!-- Endpoint definitions -->

	<bean id="Endpoint" abstract="true">
		<property name="accountTable" ref="AccountTable" />
		<property name="addressTable" ref="AddressTable" />
		<property name="contactTable" ref="ContactTable" />
		<property name="phoneTable" ref="PhoneTable" />
	</bean>

	<bean id="FindAccount" parent="Endpoint" class="Appenda_Bundle_Account_Endpoint_FindAccount" />

	<bean id="FindAccountByType" parent="Endpoint" class="Appenda_Bundle_Account_Endpoint_FindAccountByType" />

	<bean id="FindAccountByName" parent="Endpoint" class="Appenda_Bundle_Account_Endpoint_FindAccountByName" />

	<bean id="InsertAccount" parent="Endpoint" class="Appenda_Bundle_Account_Endpoint_InsertAccount" />

	<bean id="InsertAccountContact" parent="Endpoint" class="Appenda_Bundle_Account_Endpoint_InsertAccountContact" />

	<bean id="RemoveAccount" parent="Endpoint" class="Appenda_Bundle_Account_Endpoint_RemoveAccount" />

	<!-- Database configuration -->

	<bean id="Adapter" class="${bundle.account.adapter.class}">
		<constructor-arg>
			<props>
				<prop key="hostname">${bundle.account.adapter.host}</prop>
				<prop key="username">${bundle.account.adapter.user}</prop>
				<prop key="password">${bundle.account.adapter.password}</prop>
				<prop key="dbname">${bundle.account.adapter.schema}</prop>
			</props>
		</constructor-arg>
	</bean>

	<bean id="AccountTable" class="Appenda_Bundle_Account_Table_Account">
		<constructor-arg index="0">
			<props>
				<prop key="schema">${bundle.account.adapter.schema}</prop>
				<prop key="name">accounts</prop>
			</props>
		</constructor-arg>

		<constructor-arg index="1" ref="Adapter" />
	</bean>

	<bean id="AddressTable" class="Appenda_Bundle_Account_Table_Address">
		<constructor-arg index="0">
			<props>
				<prop key="schema">${bundle.account.adapter.schema}</prop>
				<prop key="name">addresses</prop>
			</props>
		</constructor-arg>

		<constructor-arg index="1" ref="Adapter" />
	</bean>

	<bean id="ContactTable" class="Appenda_Bundle_Account_Table_Contact">
		<constructor-arg index="0">
			<props>
				<prop key="schema">${bundle.account.adapter.schema}</prop>
				<prop key="name">contacts</prop>
			</props>
		</constructor-arg>

		<constructor-arg index="1" ref="Adapter" />
	</bean>

	<bean id="PhoneTable" class="Appenda_Bundle_Account_Table_Phone">
		<constructor-arg index="0">
			<props>
				<prop key="schema">${bundle.account.adapter.schema}</prop>
				<prop key="name">phones</prop>
			</props>
		</constructor-arg>

		<constructor-arg index="1" ref="Adapter" />
	</bean>

</beans>
